# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [41]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

import os
from dotenv import load_dotenv
# Load .env enviroment variables into the notebook
load_dotenv()
# Get the API key from the environment variable and store as Python variable
gkey = os.getenv("gkey")

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [42]:
file = pd.read_csv('../output_data/city.csv')
file.dropna()
file.head()

,City ID,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temp,Wind Speed
0,0,Ushuaia,75,AR,1630093926,52,-54.8000,-68.3000,42.42,16.11
1,1,Nosy Varika,43,MG,1630093926,85,-20.5833,48.5333,66.36,3.49
2,2,Broken Hill,2,AU,1630093927,52,-31.9500,141.4333,42.51,10.36
3,3,Torbay,90,CA,1630093927,91,47.6666,-52.7314,66.27,24.16
4,4,Chifeng,0,CN,1630093844,71,42.2683,118.9636,55.78,8.41

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [43]:
gmaps.configure(api_key = gkey)

In [44]:
locations = file[['Latitude', 'Longitude']]
humidity = file['Humidity'].astype(float)

In [45]:
fig = gmaps.figure(center = [31.9686, -99.9018], zoom_level = 2)

In [46]:
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating = False, max_intensity = 100, point_radius = 4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [47]:
weather = file.loc[(file['Max Temp'] >= 58) & (file['Max Temp'] >= 77)]
wind = weather.loc[(weather['Wind Speed'] <= 7)]
ideal = wind.loc[(wind['Cloudiness'] <= 25)]
len(ideal)

40

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [48]:
hotel_df = ideal.reset_index(drop = True)
hotel_df['Hotel Name'] = ""

#param to update
parameters = {
    'radius': 1500,
    'types': 'hotels',
    'keyword':'hotels',
    'key': 'g_key'
}

In [49]:
for index, row in hotel_df.iterrows():
    Latitude = row['Latitude']
    Longitude = row['Longitude']
    parameters['location'] = f'{Latitude} , {Longitude}'
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    hotel_name = requests.get(base_url, params = parameters)
    hotel_name = hotel_name.json()
    print(json.dumps(hotel_name, indent = 4, sort_keys = True))
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotel_name['results'][0]['name']
    except (KeyError, IndexError):
        print('....Missing Data.....Skippping.......')

{
    "error_message": "The provided API key is invalid.",
    "html_attributions": [],
    "results": [],
    "status": "REQUEST_DENIED"
}
....Missing Data.....Skippping.......
{
    "error_message": "The provided API key is invalid.",
    "html_attributions": [],
    "results": [],
    "status": "REQUEST_DENIED"
}
....Missing Data.....Skippping.......
{
    "error_message": "The provided API key is invalid.",
    "html_attributions": [],
    "results": [],
    "status": "REQUEST_DENIED"
}
....Missing Data.....Skippping.......
{
    "error_message": "The provided API key is invalid.",
    "html_attributions": [],
    "results": [],
    "status": "REQUEST_DENIED"
}
....Missing Data.....Skippping.......
{
    "error_message": "The provided API key is invalid.",
    "html_attributions": [],
    "results": [],
    "status": "REQUEST_DENIED"
}
....Missing Data.....Skippping.......
{
    "error_message": "The provided API key is invalid.",
    "html_attributions": [],
    "results": [],
    "status": "REQUEST_DENIED"
}
....Missing Data.....Skippping.......
{
    "error_message": "The provided API key is invalid.",
    "html_attributions": [],
    "results": [],
    "status": "REQUEST_DENIED"
}
....Missing Data.....Skippping.......
{
    "error_message": "The provided API key is invalid.",
    "html_attributions": [],
    "results": [],
    "status": "REQUEST_DENIED"
}
....Missing Data.....Skippping.......
{
    "error_message": "The provided API key is invalid.",
    "html_attributions": [],
    "results": [],
    "status": "REQUEST_DENIED"
}
....Missing Data.....Skippping.......
{
    "error_message": "The provided API key is invalid.",
    "html_attributions": [],
    "results": [],
    "status": "REQUEST_DENIED"
}
....Missing Data.....Skippping.......
{
    "error_message": "The provided API key is invalid.",
    "html_attributions": [],
    "results": [],
    "status": "REQUEST_DENIED"
}
....Missing Data.....Skippping.......
{
    "error_message": "The provided API key is invalid.",
    "html_attributions": [],
    "results": [],
    "status": "REQUEST_DENIED"
}
....Missing Data.....Skippping.......
{
    "error_message": "The provided API key is invalid.",
    "html_attributions": [],
    "results": [],
    "status": "REQUEST_DENIED"
}
....Missing Data.....Skippping.......
{
    "error_message": "The provided API key is invalid.",
    "html_attributions": [],
    "results": [],
    "status": "REQUEST_DENIED"
}
....Missing Data.....Skippping.......
{
    "error_message": "The provided API key is invalid.",
    "html_attributions": [],
    "results": [],
    "status": "REQUEST_DENIED"
}
....Missing Data.....Skippping.......
{
    "error_message": "The provided API key is invalid.",
    "html_attributions": [],
    "results": [],
    "status": "REQUEST_DENIED"
}
....Missing Data.....Skippping.......
{
    "error_message": "The provided API key is invalid.",
    "html_attributions": [],
    "results": [],
    "status": "REQUEST_DENIED"
}
....Missing Data.....Skippping.......
{
    "error_message": "The provided API key is invalid.",
    "html_attributions": [],
    "results": [],
    "status": "REQUEST_DENIED"
}
....Missing Data.....Skippping.......
{
    "error_message": "The provided API key is invalid.",
    "html_attributions": [],
    "results": [],
    "status": "REQUEST_DENIED"
}
....Missing Data.....Skippping.......
{
    "error_message": "The provided API key is invalid.",
    "html_attributions": [],
    "results": [],
    "status": "REQUEST_DENIED"
}
....Missing Data.....Skippping.......
{
    "error_message": "The provided API key is invalid.",
    "html_attributions": [],
    "results": [],
    "status": "REQUEST_DENIED"
}
....Missing Data.....Skippping.......
{
    "error_message": "The provided API key is invalid.",
    "html_attributions": [],
    "results": [],
    "status": "REQUEST_DENIED"
}
....Missing Data.....Skippping.......
{
    "error_message": "The provided API key is invalid.",
    "html_attributions": [],
    "results": [],
    "status": "REQUEST_DENIED"
}
....Missing Data.....Skippping.......
{
    "error_message": "The provided API key is invalid.",
    "html_attributions": [],
    "results": [],
    "status": "REQUEST_DENIED"
}
....Missing Data.....Skippping.......
{
    "error_message": "The provided API key is invalid.",
    "html_attributions": [],
    "results": [],
    "status": "REQUEST_DENIED"
}
....Missing Data.....Skippping.......
{
    "error_message": "The provided API key is invalid.",
    "html_attributions": [],
    "results": [],
    "status": "REQUEST_DENIED"
}
....Missing Data.....Skippping.......
{
    "error_message": "The provided API key is invalid.",
    "html_attributions": [],
    "results": [],
    "status": "REQUEST_DENIED"
}
....Missing Data.....Skippping.......
{
    "error_message": "The provided API key is invalid.",
    "html_attributions": [],
    "results": [],
    "status": "REQUEST_DENIED"
}
....Missing Data.....Skippping.......
{
    "error_message": "The provided API key is invalid.",
    "html_attributions": [],
    "results": [],
    "status": "REQUEST_DENIED"
}
....Missing Data.....Skippping.......
{
    "error_message": "The provided API key is invalid.",
    "html_attributions": [],
    "results": [],
    "status": "REQUEST_DENIED"
}
....Missing Data.....Skippping.......
{
    "error_message": "The provided API key is invalid.",
    "html_attributions": [],
    "results": [],
    "status": "REQUEST_DENIED"
}
....Missing Data.....Skippping.......
{
    "error_message": "The provided API key is invalid.",
    "html_attributions": [],
    "results": [],
    "status": "REQUEST_DENIED"
}
....Missing Data.....Skippping.......
{
    "error_message": "The provided API key is invalid.",
    "html_attributions": [],
    "results": [],
    "status": "REQUEST_DENIED"
}
....Missing Data.....Skippping.......
{
    "error_message": "The provided API key is invalid.",
    "html_attributions": [],
    "results": [],
    "status": "REQUEST_DENIED"
}
....Missing Data.....Skippping.......
{
    "error_message": "The provided API key is invalid.",
    "html_attributions": [],
    "results": [],
    "status": "REQUEST_DENIED"
}
....Missing Data.....Skippping.......
{
    "error_message": "The provided API key is invalid.",
    "html_attributions": [],
    "results": [],
    "status": "REQUEST_DENIED"
}
....Missing Data.....Skippping.......
{
    "error_message": "The provided API key is invalid.",
    "html_attributions": [],
    "results": [],
    "status": "REQUEST_DENIED"
}
....Missing Data.....Skippping.......
{
    "error_message": "The provided API key is invalid.",
    "html_attributions": [],
    "results": [],
    "status": "REQUEST_DENIED"
}
....Missing Data.....Skippping.......
{
    "error_message": "The provided API key is invalid.",
    "html_attributions": [],
    "results": [],
    "status": "REQUEST_DENIED"
}
....Missing Data.....Skippping.......
{
    "error_message": "The provided API key is invalid.",
    "html_attributions": [],
    "results": [],
    "status": "REQUEST_DENIED"
}
....Missing Data.....Skippping.......

In [50]:
 hotel_df

,City ID,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temp,Wind Speed,Hotel Name
0,11,Bethel,1,US,1630093929,69,41.3712,-73.4140,92.80,3.29,
1,24,Lincoln,1,US,1630093717,45,40.8000,-96.6670,98.13,3.00,
2,28,Altamont,1,US,1630093935,33,42.2068,-121.7372,77.77,4.00,
3,37,Ponta do Sol,21,PT,1630093939,73,32.6667,-17.1000,77.00,4.74,
4,65,Westport,20,US,1630093948,63,41.1415,-73.3579,94.08,3.00,
5,83,Mayo,1,US,1630093954,75,38.8876,-76.5119,95.36,7.00,
6,96,George Town,20,MY,1630093850,91,5.4112,100.3354,78.89,1.01,
7,113,Half Moon Bay,20,US,1630093963,66,37.4636,-122.4286,100.06,4.61,
8,141,Caceres,2,ES,1630093973,28,39.5220,-6.3748,81.81,6.73,
9,154,Shingū,2,JP,1630093977,84,33.7333,135.9833,77.92,4.70,
10,155,Cabra,0,ES,1630093977,45,37.4725,-4.4421,87.39,4.00,
11,158,Erzin,0,TR,1630093978,67,36.9559,36.2000,81.00,1.52,
12,173,Saint George,0,US,1630093984,8,37.1041,-113.5841,102.67,1.99,
13,198,Farah,0,AF,1630093993,12,32.5000,62.5000,80.47,6.60,
14,222,Hong Kong,14,HK,1630093734,83,22.2855,114.1577,80.33,1.01,
15,229,Pontes e Lacerda,12,BR,1630094003,20,-15.2261,-59.3353,99.12,1.66,
16,258,Nantucket,14,US,1630094014,80,41.2835,-70.0995,86.97,0.25,
17,270,Makakilo City,1,US,1630094017,65,21.3469,-158.0858,81.68,0.00,
18,326,Pacific Grove,1,US,1630094037,75,36.6177,-121.9166,98.62,3.00,
19,342,Province of Trapani,20,IT,1630094043,88,37.8333,12.6667,77.18,4.61,
20,343,Coromandel,15,BR,1630094043,22,-18.4733,-47.2003,86.70,5.88,
21,351,Araouane,8,ML,1630094046,23,18.9048,-3.5265,100.76,3.60,
22,356,Gushikawa,1,JP,1630094049,83,26.3544,127.8686,79.83,5.75,
23,359,Villa Bruzual,3,VE,1630094051,56,9.3328,-69.1208,89.40,4.74,
24,394,Guangzhou,1,CN,1630093835,66,23.1167,113.2500,78.94,1.95,
25,396,Nara,5,JP,1630094064,82,34.6851,135.8049,78.08,2.64,
26,401,Rosário Oeste,0,BR,1630094066,19,-14.8361,-56.4275,99.32,4.29,
27,417,Nishihara,20,JP,1630094071,78,26.1842,127.7558,79.88,5.75,
28,448,San Francisco,19,US,1630094084,46,37.7749,-122.4194,101.10,6.87,
29,458,Tete,0,MZ,1630094088,42,-16.1564,33.5867,82.49,0.00,
30,459,Ribeira Brava,23,PT,1630094088,76,32.6500,-17.0667,77.00,4.09,
31,471,São Filipe,21,CV,1630094092,82,14.8961,-24.4956,78.78,6.60,
32,475,Cayenne,20,GF,1630094093,78,4.9333,-52.3333,84.09,1.01,
33,489,Goundam,16,ML,1630094098,40,16.4145,-3.6708,93.72,2.42,
34,492,Murgab,0,TM,1630094099,39,37.4966,61.9714,80.47,4.61,
35,517,Abu Samrah,0,SY,1630094110,26,35.3029,37.1841,84.78,6.53,
36,533,Misratah,4,LY,1630094115,58,32.3754,15.0925,84.88,4.25,
37,535,Shelbyville,1,US,1630094038,53,35.4834,-86.4603,93.02,1.99,
38,547,Boone,2,US,1630094121,56,39.0334,-92.3335,95.67,1.99,
39,563,Jinxiang,7,CN,1630094126,84,27.4327,120.6062,77.34,3.71,

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure